// Specific CSS for your home-page
body {
  background-color: #fcfbe9;
}

h3 {
  color:#e70a18;
  font-style: italic;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  margin-bottom: 20px;
  margin-top: 20px;
}
