<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/UxXXow9095I.jpg)">
  <div class="container">
    <h1><strong> Hit the road with style</strong></h1>
    <p>Rent the car of your dreams</p>
    <a class="btn btn-flat" href="#">Rent now</a>
  </div>
</div>
