<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/UxXXow9095I.jpg)">
  <div class="container">
    <h1><strong> Hit the road with style</strong></h1>
    <p><em>Rent the car of your dreams</em></p>
  </div>
</div>

<div class="container">
<h3> Our favorite rented cars </h3>
  <div class="cards">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
  </div>
</div>
