<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="d-flex">
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="rounded-circle" width=40>
        <h2>hello <%= current_user.name %></h2>


      </div>
      <h2>vos voitures</h2>
      <% current_user.cars.each do |car| %>
        <div class=“card-product”>
          <img src=“https://images.unsplash.com/photo-1494905998402-395d579af36f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1NjQ3MjQxNA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080”/>
          <div class=“card-product-infos”>
            <h2>Current Bookings</h2>
            <p>Your bokking <strong>relevant info</strong> only.</p>
          </div>
        </div>

      <% end %>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
</div>
