.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: end;
  margin-bottom: 20px;
}

.banner h1 {
  margin: 0;
  color: #d08b37;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: #e7e6d2;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .btn {
  background-color: #E67E23;
  border: #E67E23;
}
