.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: end;
  margin-bottom: 20px;
}

.banner h1 {
  margin: 0;
  color: #d08b37;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: #e7e6d2;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: bold;
  background: #e70a18;
  transition: background 0.3s ease;
  border: 1px solid #e70a18;
}

.banner .btn-gradient:hover {
  background: #e70a18;
  color: white;
}
