.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-trip > img {
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
}

.card-trip-infos a:hover {
  color: #224751;
}

.card-trip-infos a {
  color: black;
  margin-bottom: 5px;
}

.card-trip .card-trip-infos .btn{
  background-color: #E67E23;
  border: none;
}

.card-trip-infos-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-trip-infos-top ul {
  margin-right: 1px;
  padding: 0px;
  list-style: none;
  font-size: 12px;
}
.card-trip-infos-top > li {
  display: inline;
}

.card-trip-infos-top h2{
  width: 230px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-column-gap: 3rem;
}

.text-ellipsis--2{
  text-overflow:ellipsis;
  overflow:hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

h1{
  font-family: 'Cinzel', serif;
  font-size: 33px;
}

.main-container {
  display: flex;
}

.cards-index{
  background-color: #E7E6D2;
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  width: 60%;
}

#the-map {
  border: solid 2px ;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 40%;
}

.card-text {
  text-align: justify;
}


.form .btn{
  background-color: #E67E23;
  border: #E67E23;
}

// .form .btn{
//   background-color: #224751;
//   border: #224751;
// }

.description {
  font-weight: bold;
  font-size: large;
}
