.form .btn{
  background-color: #224751;
  border: #224751;
  align-self: center;
}

.form {
  border: #224751 solid 1px;
  border-radius: 5px;
  height: fit-content;
  padding: 10px;
  position: sticky;
  top: 100px;
}
