.navbar {
  .logo {
    width: 200px !important;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: #E7E6D2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
