.navbar {
  .logo {
    width: 200px !important;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: #E7E6D2;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar a {
  text-decoration: none;
  color:  #224751;
  font-weight:500;
  font-size: 18px;
  margin-right: 15px;
}
