<h1 class= "text-center mt-4 "><strong>Choose your dream car !</strong></h1>

<div class="container">
  <div class="row row-cols-3">
    <% @cars.each do |car|%>
    <div class="col my-4">
      <div class="card-trip">
        <img src="https://source.unsplash.com/N9Pf2J656aQ" class="card-img-top" alt="car">
        <div class="card-trip-infos">
          <div class="card-trip-infos-top">
            <h2><%=car.brand_name + ' ' + car.model%></h2>
            <div>
              <ul>
                <li><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i></li>
              </ul>
            </div>
          </div>

          <p class="card-text text-ellipsis--2"> <%=car.overview%></p>

          <a href="<%= car_path(car.id) %>" class="btn btn-primary w-100 mt-3">Rent for <strong><%=car.price%>€</strong>/day</a>
        </div>


      </div>
    </div>
    <% end%>
  </div>
</div>
