.card-product {
  overflow: hidden;
  height: 60px;
  background: #fcfbe9f2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 10px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

#grise {
  opacity: 50%;
}

.title {
  color:#D08B38;
  size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title1 {
  color: rgb(63, 179, 63);
  size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title2 {
  color: #696f71;
  size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2 {
  color: #224751;
}


